1. Create a list called years_list, starting with the year of your birth, and each year thereafter until the year of your fifth birthday. For example, if you were born in 1980. the list would be years_list =
[1980, 1981, 1982, 1983, 1984, 1985].

ans :

In [1]:
Born_year = 1998
years_list = []
n = 0
while n <=5:
    years_list.append(Born_year+n)
    n +=1
print("years_list = ",years_list)

years_list =  [1998, 1999, 2000, 2001, 2002, 2003]

2. In which year in years_list was your third birthday? Remember, you were 0 years of age for your
first year.

ans :

In [2]:
print("year of my third birthday = ",years_list[3])

year of my third birthday =  2001

3.In the years list, which year were you the oldest?

ans :

In [3]:
print("I was oldest at : ",years_list[-1])

I was oldest at :  2003

4. Make a list called things with these three strings as elements: &quot;mozzarella&quot;, &quot;cinderella&quot;,
&quot;salmonella&quot;.

ans :

In [4]:
things = ["mozzarella", "cinderella", "salmonella"]

In [5]:
things

['mozzarella', 'cinderella', 'salmonella']

5. Capitalize the element in things that refers to a person and then print the list. Did it change the
element in the list?

ans :

In [6]:
things_ = []
for i in things:
    things_.append(i.capitalize())
things_
#Capitalize() will not change  the list original values.

['Mozzarella', 'Cinderella', 'Salmonella']

6. Make a surprise list with the elements &quot;Groucho,&quot; &quot;Chico,&quot; and &quot;Harpo.&quot;

ans :

In [7]:
surprise = ["Groucho","Chico","Harpo"]

In [8]:
surprise

['Groucho', 'Chico', 'Harpo']

7. Lowercase the last element of the surprise list, reverse it, and then capitalize it.

ans :

In [9]:
surprise[2].lower()

'harpo'

In [10]:
surprise[2].lower()[::-1]

'oprah'

In [11]:
ca = surprise[2].lower()[::-1]
ca.upper()

'OPRAH'

8. Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is
chien, cat is chat, and walrus is morse.

ans :

In [12]:
e2f = {"dog" : "chien" , "cat" : "chat" , "walrus" : "morse"}

In [13]:
e2f

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

9. Write the French word for walrus in your three-word dictionary e2f.

ans :

In [14]:
e2f["walrus"]

'morse'

10. Make a French-to-English dictionary called f2e from e2f. Use the items method.

ans :

In [15]:
f2e = {}
for keys,values in e2f.items():
    f2e[values] = keys

In [16]:
f2e

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

11. Print the English version of the French word chien using f2e.

ans :

In [17]:
f2e["chien"]

'dog'

12. Make and print a set of English words from the keys in e2f.

ans :

In [18]:
set(e2f.keys())

{'cat', 'dog', 'walrus'}

13. Make a multilevel dictionary called life. Use these strings for the topmost keys: &#39;animals&#39;, &#39;plants&#39;,
and &#39;other&#39;. Make the &#39;animals&#39; key refer to another dictionary with the keys &#39;cats&#39;, &#39;octopi&#39;, and
&#39;emus&#39;. Make the &#39;cats&#39; key refer to a list of strings with the values &#39;Henri&#39;, &#39;Grumpy&#39;, and &#39;Lucy&#39;.
Make all the other keys refer to empty dictionaries.

ans :

In [19]:
life = {"animals":{"cats":[ 'Henri', 'Grumpy', 'Lucy'],"octopi":{},"emus":{}},
       "plants":{},
       "others":{}}

In [20]:
life

{'animals': {'cats': ['Henri', 'Grumpy', 'Lucy'], 'octopi': {}, 'emus': {}},
 'plants': {},
 'others': {}}

14. Print the top-level keys of life.

ans :

In [21]:
life.keys()

dict_keys(['animals', 'plants', 'others'])

15. Print the keys for life[&#39;animals&#39;].

ans :

In [22]:
life["animals"].keys()

dict_keys(['cats', 'octopi', 'emus'])

16. Print the values for life[&#39;animals&#39;][&#39;cats&#39;]

ans :

In [23]:
life["animals"]["cats"]

['Henri', 'Grumpy', 'Lucy']