1. Set the variable test1 to the string &#39;This is a test of the emergency text system,&#39; and save test1 to a
file named test.txt.

ans :

In [1]:
test1 = "This is a test of the emergency text system"

In [2]:
file = open("test.txt","w")
file.write(test1)
file.close()

2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1
and test 2?

ans :

In [3]:
file = open("test.txt","r")
test2 =  file.read()

In [4]:
print(test2)

This is a test of the emergency text system

In [5]:
## No ,there is no difference between test1 and test2

3. Create a CSV file called books.csv by using these lines:
- title,author,year
- The Weirdstone of Brisingamen,Alan Garner,1960
- Perdido Street Station,China Miéville,2000
- Thud!,Terry Pratchett,2005
- The Spellman Files,Lisa Lutz,2007
- Small Gods,Terry Pratchett,1992

ans :

In [6]:
l = """title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992"""

In [7]:
l = l.split(sep="\n")

l1 = []
for i in l :
    l1.append(i.split(sep=","))

header = l1[0]
body = l1[1:]

import csv
with open("books.csv","w",newline="",encoding="utf-8") as file:
    file_writer = csv.writer(file)
    file_writer.writerow(header)
    file_writer.writerows(body)

In [8]:
import pandas as pd 
pd.read_csv("books.csv")

                           title           author  year
0  The Weirdstone of Brisingamen      Alan Garner  1960
1         Perdido Street Station   China Miéville  2000
2                          Thud!  Terry Pratchett  2005
3             The Spellman Files        Lisa Lutz  2007
4                     Small Gods  Terry Pratchett  1992

4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with
these fields: title (text), author (text), and year (integer).

ans :

In [9]:
import sqlite3

In [21]:
db = sqlite3.connect("books.db")

In [11]:
c = db.cursor()

In [12]:
c.execute("create table books(title text, author text, year text)")

5. Read books.csv and insert its data into the book table.

In [13]:
import pandas as pd

In [14]:
books = pd.read_csv("books.csv")

In [15]:
books.to_sql("books",db,if_exists="append",index=False)

5

In [16]:
data = c.execute("select * from books")

In [17]:
for i in data :
    print(i)

('The Weirdstone of Brisingamen', 'Alan Garner', '1960')
('Perdido Street Station', 'China Miéville', '2000')
('Thud!', 'Terry Pratchett', '2005')
('The Spellman Files', 'Lisa Lutz', '2007')
('Small Gods', 'Terry Pratchett', '1992')

In [18]:
db.commit()

In [19]:
db.close()

6. Select and print the title column from the book table in alphabetical order.

ans :

In [22]:
import sqlite3

In [23]:
db = sqlite3.connect("books.db")

In [24]:
c = db.cursor()

In [29]:
data = c.execute("select title from books order by title asc ")

In [30]:
for i in data :
    print(i)

('Perdido Street Station',)
('Small Gods',)
('The Spellman Files',)
('The Weirdstone of Brisingamen',)
('Thud!',)

7. From the book table, select and print all columns in the order of publication.

ans :

In [38]:
data = c.execute("select * from books order by year asc ")

In [39]:
pd.DataFrame(c.fetchall(),columns=["title","author","year"])

                           title           author  year
0  The Weirdstone of Brisingamen      Alan Garner  1960
1                     Small Gods  Terry Pratchett  1992
2         Perdido Street Station   China Miéville  2000
3                          Thud!  Terry Pratchett  2005
4             The Spellman Files        Lisa Lutz  2007

8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in
exercise 6.

ans :

In [40]:
import sqlalchemy
engine = sqlalchemy.create_engine("sqlite:///books.db")
rows = engine.execute('select * from books')
for i in rows:
    print(i)

('The Weirdstone of Brisingamen', 'Alan Garner', '1960')
('Perdido Street Station', 'China Miéville', '2000')
('Thud!', 'Terry Pratchett', '2005')
('The Spellman Files', 'Lisa Lutz', '2007')
('Small Gods', 'Terry Pratchett', '1992')

9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a
Redis hash called test with the fields count (1) and name (&#39;Fester Bestertester&#39;). Print all the fields for
test.

ans :

In [50]:
!pip install redis

Requirement already satisfied: redis in c:\users\lenovo\anaconda3\lib\site-packages (4.3.4)
Requirement already satisfied: async-timeout>=4.0.2 in c:\users\lenovo\anaconda3\lib\site-packages (from redis) (4.0.2)
Requirement already satisfied: packaging>=20.4 in c:\users\lenovo\anaconda3\lib\site-packages (from redis) (21.3)
Requirement already satisfied: deprecated>=1.2.3 in c:\users\lenovo\anaconda3\lib\site-packages (from redis) (1.2.13)
Requirement already satisfied: wrapt<2,>=1.10 in c:\users\lenovo\anaconda3\lib\site-packages (from deprecated>=1.2.3->redis) (1.12.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\lenovo\anaconda3\lib\site-packages (from packaging>=20.4->redis) (3.0.4)

In [52]:
import redis
conn = redis.Redis()
conn.delete('test')
conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})
conn.hgetall('test')

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24560\19521559.py:4: DeprecationWarning: Redis.hmset() is deprecated. Use Redis.hset() instead.
  conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})

{b'count': b'1', b'name': b'Fester Bestertester'}

10. Increment the count field of test and print it.

ans :

In [54]:
conn.hincrby('test','count', 3)

4